:root {
    --background-color: black;
    --accent-color: #6BB867;
    /* --accent-color: #D11F00; */
    --accent-color-2: #551A8B;
    --text-color: #FDF5E8;
    --text-grey: #C2BBA9;
    /* --font-header: "Source Code Pro", serif; */
    --font-header: "VT323", monospace;
    --font-header-secondary: "Press Start 2P", cursive;
    --font-body: "Ubuntu", sans-serif;
    --size-heading-xlg: 92px;
    --size-heading: 42px;
    --size-subheading: 24px;
    --size-body: 18px; /* need to be in rem */
    --size-btn: 24px;
    --size-xsm: 14px;
    --default-margin: 2rem;
    --default-padding: 1rem;
    --shadow-style: 0 0 10px var(--accent-color);
    --transition-style: all 0.3s;
}

/* general styling */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    background-image: url(media/images/icons/stars-opaque.png);
    /* background-image: url("media/images/icons/stars-opaque.png"), linear-gradient(to bottom, black, #100C14, #392645, #523535); */
    background-attachment: fixed;
    font-family: var(--font-body);
    color: var(--text-color);
    font-size: var(--size-body);
}
main {
    margin: var(--default-margin);
    padding-bottom: var(--default-margin);
}
section {
    display: grid;
    align-content: center;
    min-height: 75vh;
}
br {
    margin: var(--default-margin);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: var(--default-margin);
    row-gap: var(--default-margin);
    margin: var(--default-margin) 0 var(--default-margin) 0;
    width: 100%;
}
.grid-container-header {
    margin: var(--default-margin);
}
.grid-subheading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--default-margin);
    width: 100%;
}
.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--default-margin);
    margin: var(--default-margin) 0 var(--default-margin) 0;
    width: 100%;
    justify-content: center;
}
@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container-third {
        grid-template-columns: 1fr 3fr;
    }
    .grid-container-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-container-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    
}
.grid-item-space {
    margin: var(--default-margin);
}
.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.d-inline-block {
    display: inline-block;
}
.box {
    padding: var(--default-padding);
    border-style: solid none solid none;
    border-color: var(--text-color);
    border-width: 2px;
}
.col-outline {
    padding: var(--default-padding);
    border-style: none solid none solid;
    border-color: var(--text-color);
    border-width: 2px;
}
.avatar {
    background-color: var(--text-color);
    border-radius: 100%;
    border: solid 5px;
    width: 50%;
}
.margin-bottom {
    margin-bottom: var(--default-margin);
}
.border-light {
    border: solid 5px var(--text-color);
}
.list-style-alt {
    list-style-image: url(media/images/icons/heart-transp_18x18.png);
}
img {
    margin: var(--default-padding) 0 var(--default-padding) 0;
}
.fixed-behind {
    position: relative;
    margin: 0;
}
.ghost-parent {
    position: relative;
}
.ghost-child {
    position: absolute;
    right: 0;
}

/* text styling */
a {
    text-decoration: none;
    color: var(--accent-color);
    display: inline-block;
    z-index: 1;
    padding: 0.5em; /* link radius */
    margin: -0.5em;
}
a:hover {
    color: var(--accent-color);
    text-shadow: var(--shadow-style);
    transition: var(--transition-style);
    transform: translate(0, -4px);
}
.body-text {
    background-color: var(--background-color);
}
.link-light {
    color: var(--text-color);
}
.link-text {
    text-decoration: underline;
    display: inline;
}
.subheading {
    font-size: var(--size-subheading);
}
.heading {
    font-size: var(--size-heading);
    font-family: var(--font-header);
    color: var(--accent-color);
}
.heading-xlg {
    font-size: var(--size-heading-xlg);
    font-family: var(--font-header);
    color: var(--accent-color);
    letter-spacing: 4px;
}
.text-body {
    font-size: var(--size-xsm);
    font-family: var(--font-body);
    color: var(--text-grey);
}
.text-xsm {
    font-size: var(--size-xsm);
    text-transform: uppercase;
}
.text-align-right {
    text-align: right;
}
.body-list {
    margin-left: var(--default-margin);
}

/* nav bar styling */
.name {
    font-size: var(--size-subheading);
    font-family: var(--font-header);
}
.item {
    color: var(--text-color);
    font-size: var(--size-body);
}
nav ul {
    list-style: none;
    text-align: right;
}
nav li {
    display: inline;
    padding: var(--default-padding);
}
nav {
    margin: var(--default-margin);
    padding: var(--default-padding);
    border-style: solid none solid none;
    border-color: var(--text-color);
    border-width: 2px;
}

/* button styling https://codepen.io/YoannM/pen/yyExEO */
.button {
    font-size: var(--size-btn);
    color: var(--text-color);
    height: auto;
    margin: 10px;
    font-family: var(--font-header);
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:active {
    top: 2px;
}
.button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: var(--background-color);
    z-index: -1;
}
.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: var(--background-color);
    z-index: -1;
}
.button {
    position: relative;
    background: var(--background-color);
    width: auto;
    z-index: 2;
}
.button-light::before {
    background: var(--text-color);
}
.button-light::after {
    background: var(--text-color);
}
.button-light {
    background: var(--text-color);
}
.button:hover {
    color: var(--accent-color);
    transition: var(--transition-style);
    transform: translate(0, -4px);
}
.button a {
    display: block;
    padding: var(--default-margin);
}
.btn-link {
    text-decoration: none;
    color: var(--text-color);
}
.btn-link:hover {
    color: var(--accent-color);
    text-shadow: var(--shadow-style);
    transition: var(--transition-style);
}
.btn-link:active {
    color: var(--accent-color);
}
.btn-link-dark {
    text-decoration: none;
    color: var(--background-color);
}
.btn-link-dark:hover {
    color: var(--accent-color);
    text-shadow: var(--shadow-style);
    transition: var(--transition-style);
}
.btn-link-dark:active {
    color: var(--accent-color);
}
.back-button a {
    display: block;
    padding: 10px;
}

/* footer styling */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--default-margin);
    margin: var(--default-margin);
    padding: var(--default-padding);
    border-style: solid none solid none;
    border-color: var(--text-color);
    border-width: 2px;
}
.icon-fill {
    fill: var(--text-color);
}
.icon:hover .icon-fill {
    fill: var(--accent-color);
    transition: var(--transition-style);
    text-shadow: var(--shadow-style);
}
.icons {
    text-align: right;
}

/* javascript/animation styling */
.hidden {
    opacity: 0;
    filter: blur(1px);
    transition: all 0.75s;
    transform: translateY(20%);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.delay {
    transition-delay: 100ms;
}
.delay-2 {
    transition-delay: 200ms;
}
.delay-3 {
    transition-delay: 300ms;
}
.delay-4 {
    transition-delay: 400ms;
}
.delay-5 {
    transition-delay: 500ms;
}
.typewriter p {
    /* color: #fff;
    font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */

    /* The typwriter cursor */
    border-right: .15em solid white;
    white-space: nowrap; /*Keeps the content on a single line*/

    /* Gives that scrolling effect as the typing happens */
    margin: 0 auto; 

    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(30, end),
      blink-caret 1s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

/* custom scroll bar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--background-color);
}
  
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: #09070C;
}

::-webkit-scrollbar-thumb {
    /* background-color: rgb(96, 96, 96); */
    background-color: #31302E;
    background-clip: padding-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    /* background-color: rgb(112, 112, 112); */
    background-color: #4A4A4A;
}

::-webkit-scrollbar-thumb:active {
    /* background-color: rgb(128, 128, 128); */
    background-color: #40473D;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #09070C;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(49, 48, 46)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(74, 74, 74)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(64, 71, 61)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(49, 48, 46)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(74, 74, 74)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(64, 71, 61)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(49, 48, 46)'><polygon points='0,50 50,100 50,0'/></svg>");

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(74, 74, 74)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(64, 71, 61)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(49, 48, 46)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(74, 74, 74)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(64, 71, 61)'><polygon points='0,0 0,100 50,50'/></svg>");
}
/* Works on Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-button {
    background-color: var(--color-accent);
    border-radius: 3px;
    border: 1px solid black;
    height: 12px;
}
*::-webkit-scrollbar-button:hover {
    background-color: #960000;
}
*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 3px;
    border: 1px solid black;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #960000;
    cursor: pointer;
} */

/* ::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button {
    color: black;
}
::-webkit-scrollbar-track {
    background: var(--color-background);
}
::-webkit-scrollbar-thumb {
    background: black;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
} */